<h1>Editing acompanhante</h1>

<%= render "form", acompanhante: @acompanhante %>

<br>

<div>
  <%= link_to "Show this acompanhante", [:administrate, @acompanhante] %> |
  <%= link_to "Back to acompanhantes", administrate_acompanhantes_path %>
</div>
